
/* body{
    background-color: black;
    color: white;
} */
body{
    border-right: 1px solid black;
}
img{
    width: 8rem;
    margin-top: 20px;   
}

.nav ul{
    list-style: none;
}

li{
    margin-top: 2.5rem;
}

label{
    margin-left: 1rem;
}


.nest-nav ul{
    list-style: none;
    margin-top: 10rem;
}
