<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/72f09d43ed.js" crossorigin="anonymous"></script>

    <title>Instagram Clone</title>
</head>
<body>
    <div class="container">
        <iframe src="/pages/nav.html" frameborder="0" class="left"></iframe>
        <iframe src="/pages/content.html" frameborder="0" class="content"></iframe>
        <!-- <iframe src="" frameborder="0"></iframe> -->
    </div>
    <footer>
        <label for="">all &copy; rights reserved by - <a href="https://github.com/hydradocs" target="_blank">hydradocs</a></label>
    </footer>
</body>
</html>